@import 'variables';
@import 'typography';
@import 'utils';
@import 'ios';
@import 'forms';

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

html {
  // http://gregrickaby.com/using-the-golden-ratio-and-rems/
  font-size: 62.5%;
  background-color: $bg-color;
}

body {
  margin: 0;
}

#main {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#scrollable {
  height: 101%;
}

button {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  background: $orange;
  border: none;
  border-radius: 4px;
  color: $black;
  font-size: 1.8rem;
}

.orders-list {
  li {
    background: $red;
  }
}

.spacer {
  display: block;
  height: 40px;
  width: 100%;
}
