// http://www.colourlovers.com/palette/174686/She_Is_French_Yes
$gray:    #3E4147; // Bicycle Tyres
$yellow:  #FFFEDF; // sunrise glow
$orange:  #DFBA69; // Glowing Eiffel Tower
$red:     #5A2E2E; // Shallow Abyss
$black:   #2A2C31; // death2

$green: #13B661;

$bg-color:             $gray;

$nav-bar-bg-color:     $black;
$nav-bar-title-color:  $orange;
$nav-bar-text-color:   $orange;

$link-color:           $orange;
$text-color:           $yellow;

$modal-bg-color:       $yellow;
